<!--33:03/46:58-->
<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div class="input-field"><!--Из библиотеки materializecss-->
    <input type="text" name="title">
    <label></label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>